@import "block/variables";
@import "block/_navLK";

.main > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    max-width: 500px;
    width: 40vw;

    @media (max-width: 768px) {
        width: 100%;
    }

    > .input {
        width: 100%;
    }

    > .form--button {
        display: none;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
        width: 100%;
    }
}

.avatar {
    position: relative;

    #editProfile {
        position: absolute;
        top: -10px;
        right: 35px;

        height: 60px;
        width: 60px;

        background: none;
        border: none;

        > img {
            width: 100%;
        }

        &:hover img {
            opacity: 90%;
        }
    }
}
