@import "_main";
@import "block/_header";
@import "block/_navLK";

.main > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    max-width: 500px;
    width: 40vw;

    > .input {
        width: 100%;
    }
}
