@import "_main";
@import "block/_header";
@import "block/_navLK";

.main {
    gap: 20px;
}

.statistic--header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 15px;

    width: 100%;
    > .input {
        width: 300px;
    }
}

.window {
    width: 100%;
    max-height: fit-content;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 10px; /* Ширина скроллбара */
    }

    &::-webkit-scrollbar-track {
        background: #123a60; /* Цвет фона трека */
        border-radius: 15px;
    }

    &::-webkit-scrollbar-thumb {
        background: #c9ddff; /* Цвет ползунка */
        border-radius: 15px; /* Скругление углов ползунка */
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #bbcff3; /* Цвет ползунка при наведении */
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding-right: 10px;
}

.list--card {
    width: 100%;
    height: fit-content;

    background-color: #2b76bc;
    border-radius: 20px;
    padding: 5px 20px;

    display: grid;
    grid-template-columns: max-content 1fr;

    row-gap: 10px;
    column-gap: 5px;

    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;

    &:hover {
        color: #bfddf8;
    }
}

.filter {
    // display: none;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    width: 450px;

    background: linear-gradient(40deg, #123a60 26%, #2578c6 65%);

    > .input {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .list--card {
        display: flex;
        flex-direction: column;
        row-gap: 0;

        & > span:not(:last-child) {
            margin-bottom: 5px;
        }
    }
}

@media (max-width: 768px) {
    .statistic--header .input {
        width: 100%;
    }

    .window {
        overflow-y: unset;
        padding-bottom: 50px;
    }

    .filter {
        width: 100%;
    }
}
