@import "block/variables";
@import "block/scrollList";
@import "block/navLK";

.main {
    gap: 20px;
}

.window {
    width: 100%;
    max-height: fit-content;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 10px; /* Ширина скроллбара */
    }

    &::-webkit-scrollbar-track {
        background: $darkBlue; /* Цвет фона трека */
        border-radius: 15px;
    }

    &::-webkit-scrollbar-thumb {
        background: $white; /* Цвет ползунка */
        border-radius: 15px; /* Скругление углов ползунка */
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #bbcff3; /* Цвет ползунка при наведении */
    }
}

.filter {
    // display: none;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    width: 450px;

    background: linear-gradient(40deg, #123a60 26%, #2578c6 65%);

    > .input {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .window {
        overflow-y: unset;
        padding-bottom: 50px;
    }
}
