@import "block/variables";
@import "block/quest";

.test--button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 50px;

    &__max {
        justify-content: space-between;
    }

    @media (max-width: 768px) {
        gap: 10px;

        .button {
            text-align: center;
        }
    }
}

.settings {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    column-gap: 2rem;

    width: 100%;
    padding: 20px 40px;
    border-radius: 30px;
    margin-bottom: 30px;
    @include dark_gradient(120deg, 65%, 80%);

    > h1 {
        color: $whiteText;
        font-size: 2rem;
        font-weight: bold;
        width: 100%;
        text-align: center;

        &.settings--left {
            text-align: start;
        }
    }
    > :nth-child(1),
    :nth-child(2) {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    > :nth-child(4):not(.input) {
        justify-self: end;
    }

    @media (max-width: 768px) {
        grid-template-columns: 100%;

        > :nth-child(1),
        :nth-child(2) {
            grid-column-start: 1;
            grid-column-end: 2;
        }
    }
}

.quest__edit {
    display: flex;
    flex-direction: row;
    gap: 20px;

    width: 100%;
    justify-content: space-between;

    > .buttons {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 10px;

        > button {
            background: none;
            border: none;
        }
    }
}

.test--add {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    background: none;
    border: none;

    color: $darkBlue;
    font-size: 2rem;
    text-align: start;

    > div {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: $darkBlue;
        border-radius: 100%;

        width: 60px;
        min-width: 60px;
        height: 60px;
        min-height: 60px;

        > img {
            width: 70%;
            height: 70%;
        }
    }

    &__light {
        color: $whiteText;
    }
}

#testLink {
    cursor: pointer;
}

.timer {
    position: fixed;
    bottom: 0;
    left: 0;

    @include dark_gradient(60deg, 50%, 80%);
    border-top-right-radius: 35px;
    padding: 10px 20px;

    color: white;
    font-size: 50px;

    /* Стиль для мигания красным */
    &.blink-red {
        animation: blink 1s infinite;
    }

    /* Анимация мигания */
    @keyframes blink {
        0%,
        100% {
            color: red;
        }
        50% {
            color: white;
        }
    }
}
