@charset "UTF-8";
@font-face {
  font-family: Evolventa;
  src: url("../fonts/Evolventa/Evolventa-Regular.ttf");
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  color: inherit;
  font-family: Evolventa;
}

html {
  font-size: 16px;
}
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

a {
  color: #c9ddff;
}
a:hover {
  color: #97b0dc;
}

.button {
  min-height: 3.125rem;
  border-radius: 15px;
  padding: 3px 1.5625rem 3px 1.5625rem;
  font-size: 1.25rem;
  transition: 0.2s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  text-decoration: none;
}
.button__blue {
  background: #123a60;
  color: #ffffff;
}
.button__blue:hover {
  background-color: #2b76bc;
}
.button__blue:active {
  color: #74b7f8;
}
.button__light {
  background-color: #2b76bc;
  color: #fff;
}
.button__light:hover {
  background-color: #3d88cf;
}
.button__light:active {
  color: #74b7f8;
}
.button__image {
  display: flex;
  flex-direction: row;
  gap: 10px;
  text-decoration: none;
  max-height: 50px;
}
.button__image > img {
  height: 5rem;
  width: 5rem;
}
.button__bold {
  font-size: 2rem;
}
.button__top {
  display: none;
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  width: 60px;
  height: 60px;
}
.button__top > img {
  width: 100%;
  height: 100%;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -5;
  background: rgb(201, 221, 255);
  background: linear-gradient(60deg, #d4e4ff 39%, #ffffff 72%);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px 60px;
  border-radius: 35px;
  background: linear-gradient(120deg, #123a60 26%, #2578c6 65%);
}
.form > h1 {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 2rem;
  font-weight: 700;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.input > label {
  font-size: 1.5rem;
  color: #c9ddff;
}
.input--field {
  background-color: #c9ddff;
  border: none;
  border-radius: 20px;
  color: #2b76bc;
  padding-left: 20px;
  width: 100%;
  height: 3.25rem;
}
.input--field:focus-visible {
  outline: none;
}
.input__checkbox {
  display: flex;
  flex-direction: row;
}
.input__dark > label {
  color: #123a60;
}
.input__img {
  position: relative;
}
.input__img label {
  position: absolute;
  top: 3px;
  right: 10px;
}
.input__img label > img {
  height: 2.8rem;
}
.input__data input[type=date] {
  padding-right: 10px;
}
.input__little {
  display: inline-block;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.input__little .input--field {
  background-color: #e2ebfa;
  color: #123a60;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 8px;
  padding: 0 30px 0 10px;
  border: none !important;
}
.input__little select {
  background-image: url("/img/select/arrow_little1.svg");
}
.input__little select:active, .input__little select:focus {
  background-image: url("/img/select/arrow_little2.svg");
}
.input__little select:hover, .input__little select:active, .input__little select:focus {
  background-position: right 10px center;
}
.input__datalist {
  position: relative;
}

input[type=text]:-moz-placeholder,
input[type=password]:-moz-placeholder,
input[type=email]:-moz-placeholder,
input[type=number]:-moz-placeholder {
  color: rgba(43, 118, 188, 0.4392156863);
}
input[type=text]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
input[type=number]::-webkit-input-placeholder {
  color: rgba(43, 118, 188, 0.4392156863);
}
input[type=text]:hover:not(:disabled),
input[type=password]:hover:not(:disabled),
input[type=email]:hover:not(:disabled),
input[type=number]:hover:not(:disabled) {
  border: solid #74b7f8 7px;
  padding-left: 14px;
}
input[type=text]:active, input[type=text]:focus,
input[type=password]:active,
input[type=password]:focus,
input[type=email]:active,
input[type=email]:focus,
input[type=number]:active,
input[type=number]:focus {
  border: solid #123a60 7px;
  padding-left: 14px;
}

select {
  appearance: none; /* Убираем стандартную стрелку в некоторых браузерах */
  -webkit-appearance: none; /* Для Safari и Chrome */
  -moz-appearance: none; /* Для Firefox */
  background-image: url("/img/select/arrow_selector1.svg");
  background-repeat: no-repeat;
  background-position: right 10px center; /* Позиция стрелки */
  background-size: 16px; /* Размер стрелки */
  transition: transform 0.3s ease; /* Плавный переход */
}
select:hover:not(:disabled) {
  background-position: right 3px bottom 54%; /* Позиция стрелки */
  border: solid #74b7f8 7px;
  padding-left: 14px;
}
select:active, select:focus {
  background-image: url("/img/select/arrow_selector2.svg");
  background-position: right 10px bottom 54%;
}
select:hover, select:active, select:focus {
  background-position: right 4px bottom 54%;
}

input[type=checkbox]:not(.toggle) {
  display: none;
}
input[type=checkbox]:not(.toggle) + label {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.25rem;
}
input[type=checkbox]:not(.toggle) + label::before {
  content: "";
  min-width: 40px;
  min-height: 40px;
  background-color: #ffffff;
  border-radius: 5px;
}
input[type=checkbox]:not(.toggle):not(:disabled, :checked):hover + label::before {
  background-color: #74b7f8;
}
input[type=checkbox]:not(.toggle):checked + label::before {
  border: solid #ffffff 5px;
}
input[type=checkbox]:not(.toggle):checked:hover:not(:disabled) + label::after {
  background-color: #74b7f8;
}
input[type=checkbox]:not(.toggle):checked + label::after {
  content: "";
  background-color: #123a60;
  width: 32px;
  height: 32px;
  background-image: url("/img/checkbox/checked.png");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 4px;
  border-radius: 5px;
}
@media (max-width: 768px) {
  input[type=checkbox]:not(.toggle) + label {
    gap: 0.7rem;
  }
  input[type=checkbox]:not(.toggle) + label::before {
    min-width: 26px;
    min-height: 26px;
  }
  input[type=checkbox]:not(.toggle):checked + label::after {
    width: 22px;
    height: 22px;
    left: 2px;
    background-size: 16px 12px;
  }
}

input[type=radio] {
  display: none;
}
input[type=radio] + label {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.25rem;
}
input[type=radio] + label::before {
  content: "";
  min-width: 40px;
  min-height: 40px;
  background-color: #ffffff;
  border-radius: 100%;
}
input[type=radio]:not(:checked, :disabled):hover + label::before {
  background-color: #74b7f8;
}
input[type=radio]:checked + label::after {
  content: "";
  background-color: #123a60;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 72px- 32px/2;
  left: 4px;
  border-radius: 100%;
}
input[type=radio]:checked:hover:not(:disabled) + label::after {
  background-color: #74b7f8;
}

input[type=checkbox].toggle {
  display: none;
}
input[type=checkbox].toggle + label {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 1.25rem;
}
input[type=checkbox].toggle + label::before {
  content: "";
  min-width: 80px;
  min-height: 40px;
  background-color: #ffffff;
  border-radius: 40px;
}
input[type=checkbox].toggle + label::after {
  content: "";
  min-width: 36px;
  min-height: 36px;
  background-color: #123a60;
  border-radius: 100%;
  transition: 0.3s;
  position: absolute;
  left: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
input[type=checkbox].toggle:checked + label::before {
  background-color: #badafb;
}
input[type=checkbox].toggle:checked + label::after {
  left: 40px;
}
input[type=checkbox].toggle:hover:not(:disabled) + label::after {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922) inset;
}

.modalka {
  display: none;
  z-index: 20;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1882352941);
}
.modalka:not(.load) > *:not(.modalka--wrapper) {
  max-width: 720px;
  width: 90%;
  max-height: 100vh;
  padding: 30px;
}
.modalka.load > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 35px;
  background: linear-gradient(120deg, #123a60 26%, #2578c6 65%);
}

body.modalka-open {
  overflow: hidden; /* Блокируем прокрутку страницы */
}

.main--header {
  color: #123a60;
  font-size: 3rem;
  font-weight: bold;
  width: 100%;
  text-align: center;
}
.main--header__row {
  display: flex;
  flex-direction: row;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
}
.header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 2px;
  min-height: 80px;
}
.header--logo {
  height: 105px;
}
.header--logo > img {
  height: 100%;
}
@media (max-width: 768px) {
  .header--logo {
    height: 60px;
  }
}
.header--buttons {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
}
.header--text {
  color: #123a60;
  font-size: 2.5rem;
  text-align: end;
}
.forgotBtn {
  background: none;
  border: none;
  color: #c9ddff;
  text-decoration: underline;
}
.forgotBtn:hover {
  color: #97b0dc;
}

.burger {
  display: none;
}

.logo--mini {
  display: none;
}

@media (max-width: 768px) {
  .logo--full {
    display: none;
  }
  .logo--mini {
    display: block;
  }
  .burger {
    display: block;
  }
  .header--buttons {
    gap: 5px;
  }
  .header--text {
    text-align: center;
  }
}
main {
  color: #123a60;
}

.slogan {
  color: #123a60;
  font-size: 3rem;
  text-align: center;
  width: 100%;
}
.slogan.bottom {
  margin-bottom: 40px;
}

.test--button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-bottom: 50px;
}
.test--button__max {
  justify-content: space-between;
}/*# sourceMappingURL=policy.css.map */