main {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 60px;

    height: 75vh;
}

.navLK {
    position: relative;

    max-width: 500px;
    width: 50vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 30px 30px 30px 0px;

    & a {
        display: flex;
        flex-direction: row;
        gap: 25px;
        align-items: center;

        color: #c9ddff;
        text-decoration: none;
        font-size: 1.5rem;

        > img {
            width: 60px;
        }

        &:hover {
            color: #97b0dc;
        }

        &.active {
            color: #ffffff !important;
        }
    }
    & div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: max-content;
    }
    & figure {
        position: absolute;
        top: 0;
        right: 0;

        width: 60vw;
        height: 100%;
        z-index: -1;

        background: linear-gradient(120deg, #123a60 26%, #2578c6 65%);
        border-top-right-radius: 45px;
        border-bottom-right-radius: 45px;
    }
}

.navLK__bar {
    display: flex;
    align-items: end;

    max-width: 300px;
    width: 60vw !important;
    max-height: 400px;
    height: 60vh;
    z-index: 4;

    position: absolute;
    top: 20px;
    right: 0;
    transform: translateX(200vw);

    padding-left: 20px;
    transition: 0.2s;

    & a {
        width: 50vw !important;
        gap: 10px;
        flex-direction: row-reverse;

        & > img {
            width: 40px;
        }
        & span {
            text-align: end;
        }
    }

    figure {
        width: 60vw;
        right: auto;
        left: 0;

        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 45px;
        border-bottom-left-radius: 45px;
    }
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

@media (max-width: 768px) {
}

@media (max-width: 768px) {
    nav.navLK:not(.navLK__bar) {
        display: none;
    }
}
