.quest {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;

    min-height: 170px;
    padding: 20px 40px;
    border-radius: 30px;
    margin-bottom: 30px;
    background: linear-gradient(120deg, #123a60 65%, #2578c6 80%);

    color: #e0eafa;
    font-size: 1.5rem;

    > div {
        padding: 0 5%;
    }

    &__choice {
        > div {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: start;
            gap: 20px;
        }
    }

    &__fill {
        display: block;
        white-space: normal;

        > span {
            display: inline-block;
        }
    }

    &__relation {
        > div {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 7.5rem;
            row-gap: 20px;

            > div {
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;

                width: 100%;
                min-height: 50px;
                height: fit-content;
                padding-left: 10px;

                color: #123a60;
                background-color: #c9ddff;
                border-radius: 15px;
            }

            .interactive {
                cursor: grab;
                grid-column: 2;
            }

            .dragging {
                opacity: 0.5;
            }

            @media (max-width: 768px) {
                column-gap: 2rem;
                padding: 0;
            }

            @media (max-width: 480px) {
                column-gap: 2rem;
                padding: 0;
            }
        }
    }

    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.quest--modal {
    width: fit-content;
    overflow-y: auto;

    > span {
        color: #c9ddff;
        font-size: 1.5rem;
    }

    .answer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

        padding: 0 20px;

        &__blank {
            .input {
                width: 100%;
            }
        }

        &__relation {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    > .test--button {
        margin-bottom: 0;
    }
}
