$darkBlue: #123a60;
$whiteBlue: #2b76bc;
$white: #c9ddff;

$hoverBlue: #74b7f8;
$whiteText: #e0eafa;
$hoverText: #97b0dc;

@mixin white_gradient($angle: 60deg, $start-percent: 39%, $end-percent: 72%) {
    background: linear-gradient(
        $angle,
        #d4e4ff $start-percent,
        white $end-percent
    );
}
@mixin dark_gradient($angle: 120deg, $start-percent: 26%, $end-percent: 65%) {
    background: linear-gradient(
        $angle,
        #123a60 $start-percent,
        #2578c6 $end-percent
    );
}

@mixin slogan() {
    .slogan {
        color: $darkBlue;
        font-size: 3rem;
        text-align: center;

        width: 100%;

        &.bottom {
            margin-bottom: 40px;
        }
    }
}
@mixin test--button() {
    .test--button {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        margin-bottom: 50px;

        &__max {
            justify-content: space-between;
        }
    }
}
